extends layout

block content
	each map,i in maps
		.map(style="width:#{maps[i].pxl_width}px;height:#{maps[i].pxl_height}px;")
			- for(var l=JSON.parse(map.area_l).from;l<JSON.parse(map.area_l).to;l++)
				canvas.layer(id="canvas_#{l}", width="#{map.pxl_width}", height="#{map.pxl_height}", style="z-index:#{l}")
					| Dein Browser kann diese Grafik nicht darstellen.
	include map_javascript