extends layout

block content
	.map(style="width:#{map.pxl_width}px;height:#{map.pxl_height}px;")
		canvas#testcanvas1(width="#{map.pxl_width}", height="#{map.pxl_height}")
			| Dein Browser kann diese Grafik nicht darstellen.

	!= "<script>"
		!= "var tiles = "+map.tiles+";"
	!= "</script>"

	script
		var tileset = [#{map.tilesets.length}];
		function loadTileSets() {
			for (var t=0; t<#{map.tilesets.length}; t++) {
				tileset[t] = new Image();
				tileset[t].src = '/tilesetid/'+t;
			}
		}
		function drawTiles() {
			var canvas = document.getElementById('testcanvas1');
			
			tileset[#{map.tilesets.length}-1].onload = function(){
				if(canvas.getContext){
					var context = canvas.getContext('2d');
					//console.log("map.all_layer_size "+#{map.all_layer_size});
					//console.log("tiles[0].length "+tiles[0].length);
					for (var l=0; l<#{map.layer_size}; l++) {
						//console.log(l+" ");
						for (var i=0; i<tiles[l].length; i++) {
							//console.log(i+" ");
							//console.log(tiles[l][i]);
							context.drawImage(tileset[tiles[l][i].ts_id], tiles[l][i].sx, tiles[l][i].sy, #{map.tilewidth}, #{map.tileheight}, tiles[l][i].dx, tiles[l][i].dy, #{map.tilewidth}, #{map.tileheight});
						}
					}
				}
			}
		}
		loadTileSets();
		drawTiles();