extends layout

block content
	each map,i in maps
		.map(style="width:#{maps[i].pxl_width}px;height:#{maps[i].pxl_height}px;")
			- for(var l=0; l<map.layer_size; l++)
				canvas.layer(id="canvas_#{l}", width="#{map.pxl_width}", height="#{map.pxl_height}", style="z-index:#{l}")
					| Dein Browser kann diese Grafik nicht darstellen.

	!= "<script info='load_data'>"
		!= "var tiles = ["+maps.length+"];"
		!= "var tilesets = ["+maps.length+"];"
		!= "var layer_size = ["+maps.length+"];"
		!= "var pxl_width = "+maps[0].pxl_width+";"
		!= "var pxl_height = "+maps[0].pxl_height+";"
		each map,i in maps
			!= "layer_size["+i+"] = ["+map.layer_size+"];"
			!= "tiles["+i+"] = "+map.tiles+";"
			!= "tilesets["+i+"] = ["+map.tilesets.length+"];"
			!= "for (var t=0; t<"+map.tilesets.length+"; t++) {"
				!= "tilesets["+i+"][t] = new Image();"
				!= "tilesets["+i+"][t].src = '/tilesetid/'+t;"
			!= "}"
	!= "</script>"

	script(info="draw_functions")
		function drawTiles(map_id) {
			tilesets[map_id][0].onload = function(){
				for(var l=0; l<layer_size[map_id]; l++) {
					var canvas = document.getElementById('canvas_'+l);
					if(canvas.getContext){
						var context = canvas.getContext('2d');
						for(var i=0; i<tiles[map_id][l].length; i++) {
							if(tiles[map_id][l][i].sx >= 0 && tiles[map_id][l][i].sy >= 0)
								context.drawImage(tilesets[map_id][tiles[map_id][l][i].ts_id], tiles[map_id][l][i].sx, tiles[map_id][l][i].sy, #{tilewidth}, #{tileheight}, tiles[map_id][l][i].dx, tiles[map_id][l][i].dy, #{tilewidth}, #{tileheight});
						}
					}
				}
			}
		}
	!= "<script info='run_draw_functions'>"
		each map,i in maps
			!= "drawTiles("+i+");"
	!= "</script>"
