extends layout

block content
	.alert.alert-info
		a.close(data-dismiss="alert", href="#") ×
		h4.alert-heading Send us your own map!
		p
			| If you think you have a map that fits into our game and you wish to see your own map here, please send a email to 
			a(href="mailto:pascal@hmworld.eu?subject=Map") pascal@hmworld.eu 
			| with the map as attachment.
	.row.show-grid
		.span4
			each map,i in maps
				.well
					// filename
					span.label.label-info.pull-right(style="z-index:100;position:relative;margin:-5px;")
						i.icon-file.icon-white
						| #{map.filename}
					//- tiles
					a.thumbnail(id="mapinfo-#{i}",href="/map/#{map.filename}")
						- var tmp_width = (area_x.to - area_x.from)*tilewidth;
						- var tmp_height = (area_y.to - area_y.from)*tileheight;
						.map-thumb(style="width:#{tmp_width}px;height:#{tmp_height}px;")
							- for(var l=JSON.parse(map.area_l).from;l<JSON.parse(map.area_l).to;l++)
								canvas.layer(id="canvas_#{l}", width="#{tmp_width}", height="#{tmp_height}", style="z-index:#{l}")
									| Dein Browser kann diese Grafik nicht darstellen.
					// info
					.caption
						.tab-content
							h5 #{map.name}
							p #{map.description}
							h5 Data
							dl.dl-horizontal
								dt name
								dd #{map.name}
								dt author
								dd #{map.author}
								dt xml version
								dd #{map.version}
								dt orientation
								dd #{map.orientation}
								dt tilesize
								dd #{map.tilewidth} × #{map.tileheight} pixel
								dt mapsize
								dd #{map.width} × #{map.height} tiles
								dd #{map.pxl_width} × #{map.pxl_height} pixel
								dt tilesets
								each tileset,t in map.tilesets
									dd: a(href="/tilesetid/#{t}") #{tileset}
						div(style="overflow:auto;")
							.pull-right
								a.btn.btn-success(title="Download map", href="#{map.download_url}")
									i.icon-download.icon-white
									|  Download
	include map_javascript