!= "<script info='load_data'>"
	!= "var tiles = ["+maps.length+"];"
	!= "var tilesets = ["+maps.length+"];"
	!= "var layer_size = ["+maps.length+"];"
	!= "var pxl_width = "+maps[0].pxl_width+";"
	!= "var pxl_height = "+maps[0].pxl_height+";"

	!= "var tilewidth = ["+maps.length+"];"
	!= "var tileheight = ["+maps.length+"];"
	each map,i in maps
		!= "tilewidth["+i+"] = "+map.tilewidth+";"
		!= "tileheight["+i+"] = "+map.tileheight+";"

		!= "layer_size["+i+"] = ["+map.layer_size+"];"
		!= "tiles["+i+"] = "+map.tiles+";"
		!= "tilesets["+i+"] = ["+map.tilesets.length+"];"
		!= "for(var t=0; t<"+map.tilesets.length+"; t++) {"
			!= "tilesets["+i+"][t] = new Image();"
			!= "tilesets["+i+"][t].src = '/tilesetid/'+t;"
		!= "}"
!= "</script>"
script(info="draw_functions")
	var context;
	var canvas;
	function loadCanvas(area_l) {
		context = [area_l.to - area_l.from];
		canvas = [area_l.to - area_l.from];
		for(var l=area_l.from;l<area_l.to;l++) {
			canvas[l] = document.getElementById('canvas_'+l);
			context[l] = canvas[l].getContext('2d');
		}
	}

	function drawTiles(map_id, area_l, area_x, area_y) {
		function draw(){
			for(var l=area_l.from;l<area_l.to;l++) {
				for(var y=area_y.from;y<area_y.to;y++) {
					for(var x=area_x.from;x<area_x.to;x++) {
						if(tiles[map_id][l][x][y].sx >= 0 && tiles[map_id][l][x][y].sy >= 0)
							context[l].drawImage(tilesets[map_id][tiles[map_id][l][x][y].ts_id], tiles[map_id][l][x][y].sx, tiles[map_id][l][x][y].sy, tilewidth[map_id], tileheight[map_id], tiles[map_id][l][x][y].dx, tiles[map_id][l][x][y].dy, tilewidth[map_id], tileheight[map_id]);
					}
				}
			}
		}
		tilesets[map_id][0].onload=draw;
		window.onload=draw;
	}


	function resize(map_id, area_l) {
		window.onload = function() {
			$(window).resize(function() {
				var tmp_width = $('#mapinfo-'+map_id).width();
				for(var l=area_l.from;l<area_l.to;l++) {
					$("#canvas_"+l).width(tmp_width);
					$('#mapinfo-'+map_id).height($("#canvas_"+l).height());
				}
			});
		}
	}

!= "<script info='run_draw_functions'>"
	!= "function draw() {"
		each map,i in maps
			!= "loadCanvas("+map.area_l+");"
			- if (typeof(area_x) === "undefined")
				!= "drawTiles("+i+", "+map.area_l+", "+map.area_x+", "+map.area_y+");"
			- else //its a tumbnail
				!= "drawTiles("+i+", "+map.area_l+", "+area_x+", "+area_y+");resize("+i+","+map.area_l+");"
	!= "}"
	!= "draw();"
	//- run draw after back-button
	!= "window.onunload = function(){};"
!= "</script>"