extends layout

block content
	.alert.alert-info
		a.close(data-dismiss="alert", href="#") ×
		h4.alert-heading Send us your own map!
		p
			| If you think you have a map that fits into our game and you wish to see your own map here, please send a email to 
			a(href="mailto:pascal@hmworld.eu?subject=Map") pascal@hmworld.eu 
			| with the map as attachment.
	.row.show-grid
		.span4
			- for (var i=0; i<maps.length; i++)
				.well
					// filename
					span.label.label-info.pull-right(style="z-index:100;position:relative;margin:-5px;")
						i.icon-file.icon-white
						| #{maps[i].filename}
					// tiles
					a.thumbnail(id="mapinfo-#{i}",href="/map/#{maps[i].filename}")
						.map-thumb(style="width:#{width*maps[i].tilewidth}px;height:#{height*maps[i].tileheight}px")
							- for (var l=0; l<maps[i].nodejs_tiles.length; l++)
								.layer(style="width:#{width*maps[i].tilewidth}px;height:#{height*maps[i].tileheight}px;z-index:#{l}")
									- var count = 0
									- for (var y = 0; y<height; y++)
										- for (var x = 0; x<width; x++, count++)
											- if (maps[i].nodejs_tiles[l][count].t_id != 0)
											.tile(class="tid_#{maps[i].nodejs_tiles[l][count].t_id} ts_#{maps[i].nodejs_tiles[l][count].ts_id}")
					// info
					.caption
						.tab-content
							h5 #{maps[i].name}
							p #{maps[i].description}
							h5 Data
							dl.dl-horizontal
								dt name
								dd #{maps[i].name}
								dt author
								dd #{maps[i].author}
								dt xml version
								dd #{maps[i].version}
								dt orientation
								dd #{maps[i].orientation}
								dt tilesize
								dd #{maps[i].tilewidth} × #{maps[i].tileheight} pixel
								dt mapsize
								dd #{maps[i].width} × #{maps[i].height} tiles
								dd #{maps[i].pxl_width} × #{maps[i].pxl_height} pixel
								dt tilesets
								- for (var j=0; j<maps[i].nodejs_tileset.filename.length; j++)
									dd: a(href="#{maps[i].nodejs_tileset.url}") #{maps[i].nodejs_tileset.filename[j]}
						div(style="overflow:auto;")
							.pull-right
								a.btn.btn-success(title="Download map", href="#{maps[i].download_url}")
									i.icon-download.icon-white
									|  Download