extends layout

block content
	h1= map.name
	.row-fluid
		.span6
			a.thumbnail(id="mapinfo-0	",href="/map/full/#{map.filename}")
				img(src="/data/map/thumb_#{map.filename}.png")
		.span6
			h2 Details
			p #{map.description}
			dl.dl-horizontal
				dt xml version
				dd #{map.version}
				dt orientation
				dd #{map.orientation}
				dt tilesize
				dd #{map.tilewidth} × #{map.tileheight} pixel
				dt mapsize
				dd #{map.pxl_width} × #{map.pxl_height} pixel
				dt tilesets
				each tileset,t in map.tilesets
					dd: a(href="/tilesetid/#{t}") #{tileset}
			div(style="overflow:auto;")
				.pull-right
					a.btn.btn-success(title="Download map", href="#{map.download_url}")
						i.icon-download.icon-white
						|  Download
		.span12
			#comments
				h2 Comments
					small  To write a comment please use 
						a(href="#{map.gplus_link}") Google+
	- if (typeof(map.activityId) !== 'undefined' && map.activityId !== null)
		script
			function makeRequest() {
				console.log('loaded');
				var request = gapi.client.plus.comments.list({'activityId': '#{map.activityId}'});
				request.execute(function(resp) {
					console.log(resp);
					jQuery.each(resp.items, function(i, item) {
						var actor_img = "<a class='actor_img' href='"+item.actor.url+"'><img class='actor_img' src='"+item.actor.image.url+"'></img></a>";
						var actor_name = "<a class='actor_name' href='"+item.actor.url+"'>"+item.actor.displayName+"</a>";
						var timeago = moment(item.published, "YYYY-MM-DDTHH:mm:ss.Z").calendar();
						var published = "<span class='published'>"+timeago+"</span>";
						var comment_info = "<div class='comment_info'>"+actor_name+published+"</div>";
						var comment_content = "<div class='comment_content'>"+item.object.content+"</div>";
						var comment = "<div class='comment'>"+actor_img+comment_info+comment_content+"</div>";
						$("#comments").append(comment);
					});
				});
			}
			function load() {
				gapi.client.setApiKey('#{key}');
				gapi.client.load('plus', 'v1', makeRequest);
			}