extends layout

block content
	.alert.alert-info
		a.close(data-dismiss="alert", href="#") ×
		h4.alert-heading Send us your own map!
		p
			| If you think you have a map that fits into our game and you wish to see your own map here, please send a email to 
			a(href="mailto:pascal@hmworld.eu?subject=Map") pascal@hmworld.eu 
			| with the map as attachment.
	ul.thumbnails
		each map,i in maps
			.span4(style="padding-bottom:20px;")
				.tab-bordered.thumbnail
					ul.btn-group(id="tab_#{i}")
						a.btn.btn-success.btn-tab(href="#map_#{i}",data-toggle="tab")
							| Map
						a.btn.btn-info.btn-tab(href="#info_#{i}",data-toggle="tab")
							| Info
					.tab-content
						.tab-pane.fade(id="map_#{i}")
							a.thumbnail(id="mapinfo-#{i}",href="/map/#{map.filename}")
								img(src="/data/map/thumb_#{map.filename}.png")
						.tab-pane.fade(id="info_#{i}")
							.caption
								.tab-content
									p #{map.description}
									dl.dl-horizontal
										dt name
										dd #{map.name}
										dt author
										dd #{map.author}
										dt xml version
										dd #{map.version}
										dt orientation
										dd #{map.orientation}
										dt tilesize
										dd #{map.tilewidth} × #{map.tileheight} pixel
										dt mapsize
										dd #{map.width} × #{map.height} tiles
										dd #{map.pxl_width} × #{map.pxl_height} pixel
										dt tilesets
										each tileset,t in map.tilesets
											dd: a(href="/tilesetid/#{t}") #{tileset}
									div(style="overflow:auto;")
										.pull-right
											a.btn.btn-success(title="Download map", href="#{map.download_url}")
												i.icon-download.icon-white
												|  Download
	!= "<script>"
		each map,i in maps
			!= "$(document).ready(function(){"
				!= "$('#tab_"+i+" a:first').tab('show');"
			!= "});"
	!= "</script>"

.btn-group
	button.btn
		| 1
	button.btn
		| 2
	button.btn
		| 3