extends layout

block content
	.alert.alert-info
		a.close(data-dismiss="alert", href="#") ×
		h4.alert-heading Send us your own spriteset!
		p
			| If you think you have a spriteset that fits into our game and you wish to see your own spriteset here, please send a email to 
			a(href="mailto:pascal@hmworld.eu?subject=Map") pascal@hmworld.eu 
			| with the spriteset as attachment.
	.row
		each sprite, i in sprites
			.span2
				.well(style="min-height:100px;")
					- var l = i; //- TODO
					canvas.layer(id="canvas_#{l}", width="#{sprite.spriteset.spritewidth}", height="#{sprite.spriteset.spriteheight}", style="z-index:100")
					.btn-group.btn-group-vertical.pull-right(id="tab_#{i}" , style="top:0;")
						button.btn.btn-info(id="info_btn_#{i}", href="#", rel="popover", data-original-title="A Title", data-placement="bottom", data-toggle="buttons-checkbox")
							i.icon-info-sign.icon-white
						button.btn.btn-success(title="Download spriteset", onclick="javascript:window.location.href='#{sprite.spriteset.url}'", style="width:44px")
							i.icon-download.icon-white
					p(style="padding-top:80px;") #{sprite.spriteset.name}
						br
						small by #{sprite.spriteset.author}
						
				!= "<script>"
					!= "var content_"+i+" = '"
						h5 #{sprite.spriteset.name}
						p #{sprite.spriteset.description}
						h5 Data
						dl.dl-horizontal
							dt name
							dd #{sprite.spriteset.name}
							dt filename
							dd #{sprite.spriteset.filename}
							dt author
							dd #{sprite.spriteset.author}
					!= "';"
				!= "</script>"
				script
					$('#info_btn_#{i}').popover({content:content_#{i}});
					
				include sprite_javascript
