extends layout

block content
	.alert.alert-info
		a.close(data-dismiss="alert", href="#") ×
		h4.alert-heading Send us your own spriteset!
		p
			| If you think you have a spriteset that fits into our game and you wish to see your own spriteset here, please send a email to 
			a(href="mailto:pascal@hmworld.eu?subject=Map") pascal@hmworld.eu 
			| with the spriteset as attachment.
	.row.show-grid
		.span4
			each sprite, i in sprites
				.well
					// filename
					span.label.label-info.pull-right(style="z-index:100;position:relative;margin:-5px;")
						i.icon-file.icon-white
						| #{sprite.spriteset.filename}
					// tiles
					a.thumbnail(id="spritesetinfo-#{i}",href="/spriteset/#{sprite.spriteset.filename}/0", style="width:#{sprite.spriteset.spritewidth}px;height:#{sprite.spriteset.spriteheight}px;")
						- var l = i; //- TODO
						div(class="sprite_#{i}")
							canvas.layer(id="canvas_#{l}", width="#{sprite.spriteset.spritewidth}", height="#{sprite.spriteset.spriteheight}", style="z-index:100")
					.caption
						.tab-content
							h5 #{sprite.spriteset.name}
							p #{sprite.spriteset.description}
							h5 Data
							dl.dl-horizontal
								dt name
								dd #{sprite.spriteset.name}
								dt author
								dd #{sprite.spriteset.author}
						div(style="overflow:auto;")
							.pull-right
								a.btn.btn-success(title="Download spriteset", href="#{sprite.spriteset.url}")
									i.icon-download.icon-white
									|  Download

				include sprite_javascript
