extends layout

block content
	.alert.alert-info
		a.close(data-dismiss="alert", href="#") ×
		h4.alert-heading Send us your own spriteset!
		p
			| If you think you have a spriteset that fits into our game and you wish to see your own spriteset here, please send a email to 
			a(href="mailto:pascal@hmworld.eu?subject=Map") pascal@hmworld.eu 
			| with the spriteset as attachment.
	.row
		each sprite, i in sprites
			.span2
				.well(style="min-height:100px;")
					- var l = i; //- TODO
					canvas.layer(id="canvas_#{l}", width="#{sprite.spriteset.spritewidth}", height="#{sprite.spriteset.spriteheight}", style="z-index:100")
					.btn-group.btn-group-vertical.pull-right(id="tab_#{i}" , style="top:0;")
						button.btn.btn-info(id="info_btn_#{i}", href="#", rel="popover", data-original-title="Details of <b>#{sprite.spriteset.name}</b>", data-placement="bottom", data-toggle="buttons-checkbox")
							i.icon-info-sign.icon-white
						button.btn.btn-success(title="Download sprite", onclick="javascript:window.location.href='#{sprite.spriteset.url}'", style="width:44px")
							i.icon-download.icon-white
					p(style="padding-top:80px;") #{sprite.spriteset.name}
						br
						small by #{sprite.spriteset.author}
				!= "<script>"
					!= "var content_"+i+" = '"
						dl
							dt description
							dd #{sprite.spriteset.description}
							dt name
							dd #{sprite.spriteset.name}
							dt filename
							dd #{sprite.spriteset.filename}
							dt author
							dd #{sprite.spriteset.author}
							dt spritewidth
							dd #{sprite.spriteset.spritewidth} × #{sprite.spriteset.spriteheight} pixel
							dt layer
							//- TODO interate layer
							- for(sl = 0; sl < sprite.spriteset.spritelayers_size; sl++)
								dd: a(href="/spriteset/#{sprite.spriteset.filename}/#{sl}") #{sprite.spriteset.get_spritelayers_from_index(sl).image_filename}
					!= "';"
				!= "</script>"
				script
					$('#info_btn_#{i}').popover({content:content_#{i}});
					
				include sprite_javascript
