extends layout

block content
	.alert.alert-info
		a.close(data-dismiss="alert", href="#") ×
		h4.alert-heading Send us your own tileset!
		p
			| If you think you have a tileset that fits into our game and you wish to see your own tileset here, please send a email to 
			a(href="mailto:pascal@hmworld.eu?subject=Map") pascal@hmworld.eu 
			| with the tileset as attachment.
	.row.show-grid
		- for (var i=0; i<tilesets.length; i++)
			.span4(style="padding-bottom:5px;padding-top:10px;")
				.well
					.map-index-buttons
						.btn-group.tab-button-group(id="tab_#{i}", data-toggle="buttons-radio")
							a.btn.btn-success.btn-tab(title="Thumbnail", id="media_btn_#{i}", href="#media_#{i}",data-toggle="tab")
								i.icon-picture.icon-white
							a.btn.btn-info.btn-tab(title="Info", href="#info_#{i}",data-toggle="tab")
								i.icon-info-sign.icon-white
					.tab-content.tab-map-info
						.tab-pane.fade(id="media_#{i}")
							a.thumbnail(id="tilesetinfo-#{i}",href="#{tilesets[i].url}")
								img(src="#{tilesets[i].thumb_url}",alt="#{tilesets[i].filename}")
						.tab-pane.fade(id="info_#{i}")
							.caption
								.tab-content
									dl
										dt name
										dd #{tilesets[i].name}
										dt description
										dd #{tilesets[i].description}
										dt author
										dd #{tilesets[i].author}
									div(style="overflow:auto;")
										.pull-right
											a.btn.btn-success(title="Download", href="#{tilesets[i].url}")
												i.icon-download.icon-white
												|  Download
			include tabs_javascript